
<h2>All Stories</h2>

<ul>

    <% @stories.each do |story|%>
        <li>
            <%= link_to story.title,story_path(story)%>
            [Created by: <%= story.user.email %>]
        </li>
    <% end %>
</ul>