

<h2>All Reviews</h2>

<ul>
<% @reviews.each do |re|%>
    Review for: 
    <%= link_to re.site.name, review_path(re) %>
    By:
    <%= link_to re.user.email, user_path(re.user) %>

   
    <br>
<% end %>

</ul>